<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:camel="http://camel.apache.org/schema/spring" xmlns:cxf="http://cxf.apache.org/core" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/context  
  	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/aop 
	   http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
	   http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
	   http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	   ">

	<bean class="br.ufsc.gsigma.infrastructure.util.AppContext" />

	<aop:aspectj-autoproxy />

	<context:property-placeholder location="classpath:/application.properties" system-properties-mode="OVERRIDE" />

	<context:annotation-config />

	<context:component-scan base-package="br.ufsc.gsigma.binding" />

	<camel:camelContext id="camelContext" />

	<bean id="customcxf" class="br.ufsc.gsigma.binding.camel.CustomCxfComponent" />

	<bean id="serviceinvoker" class="br.ufsc.gsigma.binding.impl.ServiceInvokerComponent" />

	<bean id="servicereply" class="br.ufsc.gsigma.binding.impl.ServiceReplyComponent" />

	<bean id="geronimoTransactionManager" class="org.apache.geronimo.transaction.manager.GeronimoTransactionManager" />

	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<constructor-arg index="0" ref="geronimoTransactionManager" />
		<constructor-arg index="1" ref="geronimoTransactionManager" />
	</bean>

	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<constructor-arg ref="transactionManager" />
	</bean>

	<jaxws:endpoint implementor="#bindingServiceImpl" address="http://${http.host}:${http.port}/services/BindingService">
		<jaxws:features>
			<bean class="br.ufsc.gsigma.infrastructure.ws.cxf.CxfLoggingFeature" />
			<bean class="br.ufsc.gsigma.infrastructure.ws.cxf.ThreadLocalHolderFeature" />
			<bean class="br.ufsc.gsigma.infrastructure.ws.cxf.ExecutionContextFeature" />
		</jaxws:features>
	</jaxws:endpoint>

	<import resource="classpath:/br/ufsc/gsigma/infrastructure/util/messaging/messaging-client.xml" />

</beans>